<option value="10" {% if producto.cod_tipo_afectacion == '10' %}selected{% endif %}>10 - Gravado - Operación onerosa</option>
<option value="11" {% if producto.cod_tipo_afectacion == '11' %}selected{% endif %}>11 - Gravado - Retiro por premio</option>
<option value="12" {% if producto.cod_tipo_afectacion == '12' %}selected{% endif %}>12 - Gravado - Retiro por donación</option>
<option value="13" {% if producto.cod_tipo_afectacion == '13' %}selected{% endif %}>13 - Gravado - Retiro</option>
<option value="14" {% if producto.cod_tipo_afectacion == '14' %}selected{% endif %}>14 - Gravado - Retiro por publicidad</option>
<option value="15" {% if producto.cod_tipo_afectacion == '15' %}selected{% endif %}>15 - Gravado - Bonificaciones</option>
<option value="16" {% if producto.cod_tipo_afectacion == '16' %}selected{% endif %}>16 - Gravado - Entrega a trabajadores</option>
<option value="17" {% if producto.cod_tipo_afectacion == '17' %}selected{% endif %}>17 - Gravado - IVAP (4%)</option>
<option value="20" {% if producto.cod_tipo_afectacion == '20' %}selected{% endif %}>20 - Exonerado - Operación onerosa</option>
<option value="21" {% if producto.cod_tipo_afectacion == '21' %}selected{% endif %}>21 - Exonerado - Transferencia gratuita</option>
<option value="30" {% if producto.cod_tipo_afectacion == '30' %}selected{% endif %}>30 - Inafecto - Operación onerosa</option>
<option value="31" {% if producto.cod_tipo_afectacion == '31' %}selected{% endif %}>31 - Inafecto - Bonificación</option>
<option value="32" {% if producto.cod_tipo_afectacion == '32' %}selected{% endif %}>32 - Inafecto - Retiro</option>
<option value="33" {% if producto.cod_tipo_afectacion == '33' %}selected{% endif %}>33 - Inafecto - Muestras médicas</option>
<option value="34" {% if producto.cod_tipo_afectacion == '34' %}selected{% endif %}>34 - Inafecto - Convenio colectivo</option>
<option value="35" {% if producto.cod_tipo_afectacion == '35' %}selected{% endif %}>35 - Inafecto - Retiro por premio</option>
<option value="36" {% if producto.cod_tipo_afectacion == '36' %}selected{% endif %}>36 - Inafecto - Retiro por publicidad</option>
<option value="37" {% if producto.cod_tipo_afectacion == '37' %}selected{% endif %}>37 - Inafecto - Transferencia gratuita</option>
<option value="40" {% if producto.cod_tipo_afectacion == '40' %}selected{% endif %}>40 - Exportación</option>
